@d-red: #ff444f;
@d-gray: #373737;
@d-green: #4bb4b3;
@d-white: #f2f3f4;
@d-black: #151717;
@d-dirty-white: #dddddd;

body {
  min-width: 300px;
  height: auto;
  background: @d-white !important;
}

button {
  &.btn-primary {
    background: @d-red !important;
    border-color: @d-red !important;
  }

  &.btn-secondary {
    background: white !important;
    border-color: white !important;
    color: @d-gray !important;
  }

  &.btn-gray {
    background:@d-gray !important;
    border-color: @d-gray !important;
    color: white !important;
  }
}

.lds-ellipsis {
  margin-left: calc(50% - 12%);
}

h4 {
  font-size: 16px !important;
}

textarea {
  resize: none !important;

  &.code {
    height: 20px !important;
    padding: 5px !important;
    font-size: 10px !important;
    white-space: nowrap !important;
    outline: none !important;
    border-radius: 0px !important;
    line-height: 8px !important;

    &.big {
      height: 80px !important;
      white-space: pre-wrap !important;
      line-height: 13px !important;
      font-size: 9px !important;
    }

    &.mid {
      height: 50px !important;
      white-space: pre-wrap !important;
      line-height: 13px !important;
      font-size: 9px !important;
    }

    &.no-scroll {
      overflow: hidden;
    }
  }
}

label {
  margin-bottom: 2px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}

.main-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;

  .main-container {
    width: 100%;
    height: 100%;
    max-width: 300px;

    &.app-id-generator {
      max-width: 400px;
      max-height: 390px;
    }

    &.market-controller {
      max-width: 450px;
      max-height: 230px;
    }
  }
}

.main-container {
  display: none;
  // width: 300px;
  border: solid 1px @d-dirty-white;

  .header {
    display: flex;
    padding: 8px;
    border-bottom: solid 1px @d-dirty-white;
    margin-bottom: 5px;
    align-items: center;

    .logo {
      height: 30px;
      margin-right: 10px;
    }

    .app-name {
      font-weight: bold;
      font-size: 15px;
    }

    .top-icon-box {
      display: flex;
      margin-left: auto;

      .top-icon {
        cursor: pointer;
        margin: 0 5px;

        &.settings {
          color: @d-gray;
        }
        &.changelog {
          color: @d-green;
        }
      }
    }
  }
  .app-section {
    display: none;
    padding: 10px;
    flex-direction: column;
    justify-content: center;

    h4 {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }

    .back-btn {
      position: absolute;
      right: 7px;
      top: 13px;
      cursor: pointer;
      background: @d-white;
      padding: 5px;
    }

    #aig-p2 {
      display: none;
    }

    .footer-btn {
      display: flex;
      justify-content: space-between;

      button {
        width: fit-content;
      }
    }

    &#menu {
      display: flex;

      .box-menu-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .box-item {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          flex: none;
          width: 80px;
          height: 80px;
          border-radius: 4px;
          margin: 6px;
          cursor: pointer;
          background: white;

          &:hover {
            background: @d-red;

            .icon,
            .text {
              color: white;
            }
          }

          .icon {
            margin-bottom: 5px;
          }

          .text {
            font-size: 12px;
            color: @d-gray;
            font-weight: bold;
            padding: 0px 10px;
            display: flex;
            text-align: center;
          }

          .new-item {
            background-color: @d-red;
            color: @d-white;
            text-transform:  uppercase;
            position: absolute;
            top: -1px;
            left: -10px;
            font-weight: bold;
            font-size: 12px;
            transform: rotate(-21deg);
            padding: 0 5px;
            border-radius: 10px;
            animation: heartbeat 3s infinite;
          }
        }
      }
    }

    &#endpoint {
      .dc-checkbox__input {
        margin-right: 5px;
      }
    }

    &.np {
      padding: 0px;

      h4 {
        padding: 10px;
      }
    }

    &#cat-dog {
      .pet-box {
        display: flex;
        justify-content: center;

        .pet-item {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 50px;
          cursor: pointer;
          width: 80px;
          height: 80px;
          border-radius: 4px;
          margin: 10px;

          &:hover {
            color: @d-red;
          }
        }
      }

    }
  }
}

.delete-icon {
  cursor: pointer;

  &:hover {
    background: red;
    color: white;
  }
}

.profile-container {
  display: none;
  align-items: center;
  border-bottom: solid 1px @d-dirty-white;
  padding: 10px;

  .photo {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin: 0 10px;
    padding: 2px;
    background: #eee;
  }

  .details {
    display: flex;
    flex-direction: column;

    .name {
      font-weight: bold;
      color: @d-gray;
      font-size: 15px;
      margin-bottom: 2px;
    }

    .email {
      font-size: 12px;
    }
  }
}

.body-container {
  // overflow: auto;
  height: auto;
  // max-height: 450px;
}

[data-tooltip]:not([data-tooltip=""]) {
  position: relative;

  &::after {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    content: attr(data-tooltip);
    right: 0;
    top: calc(100%);
    border-radius: 3px;
    background-color: @d-red;
    color: white;
    z-index: 10;
    padding: 1px 5px;
    width: fit-content;
    transform: translateY(-20px);
    transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
    height: fit-content;
    border-radius: 2px;
    font-size: 10px;
  }

  &:hover::after {
    opacity: 1;
    transform: translateY(0);
    transition-duration: 300ms;
  }
}

#changelog-container {
  // overflow: auto;
  // overflow-x: hidden;
  // height: auto;
  // max-height: 500px;
  // background: white;

  h4 {
    margin-bottom: 3px;
  }

  .log-item {
    display: flex;
    flex-direction: column;
    border-top: solid 1px @d-dirty-white;
    margin: 0;
    padding: 10px;

    .version {
      font-weight: bold;
      font-size: 13px;
      margin: 0 0 5px;
    }

    .desc {
      font-size: 12px;
    }

    .log-list {
      .log-title {
        font-size: 12px;
        font-weight: bold;
      }

      ul {
        li {
          font-size: 12px;
        }
      }
    }
  }
}

.small-input-group {
  .input-group-text {
    height: 38px;
    min-width: 125px;

    &.md {
      min-width: 80px;
    }

    &.sm {
      min-width: 50px;
    }

    &.xs {
      min-width: 30px;
    }
  }

  .custom-select {
    outline: none !important;
  }

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 38px;
    border: 1px solid #ced4da;
    border-left: none;
    outline: none !important;
  }
}

.form-check-input {
  margin-top: 0.47rem !important;
}

.offline-container {
  display: flex;
  background: #d6dadb;
  padding: 10px;
  margin: -5px 0 2px;
  box-shadow: #abc 0 0 150px;

  .icon {
    color: @d-gray;
    font-size: 30px;
    margin-right: 12px;
    align-self: center;
  }

  .alert-message {
    color: @d-gray;
    font-size: 11px;
    font-weight: normal;

    strong {
      font-weight: bolder;
      color: @d-green;
    }
  }
}

.note-msg {
  display: flex;
  padding: 5px;
  font-size: 10px;
  font-weight: 100;
}

.settings-form {
  display: flex;
  align-items: center;

  .toggle {
    margin-left: auto;
  }
}

.toggle {
  cursor: pointer;
  display: inline-block;
}
.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
  &:before,
  &:after {
    content: "";
  }
  &:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
  }
  .toggle:hover &:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
  }
  .toggle-checkbox:checked + & {
    background: @d-red;
    &:before {
      left: 30px;
    }
  }
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

table {
  th,td {
    padding: 5px;
    font-size: 10px;

    select {
      max-width: 120px;
    }
  }

  tbody {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    max-height: 300px;
  }
}

.info-box {
  padding: 10px;
  font-size: 12px;
  
  strong {
    color: var(--red);
  }
}

.data-box {
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  
  strong {
    color: var(--red);
  }
}


// Dark Theme

body {
  &.dark-theme {
    background: @d-black !important;
    background: -webkit-linear-gradient(to left, @d-gray, @d-black) !important;
    background: linear-gradient(to left, @d-gray, @d-black) !important;

    color: @d-white !important;

    .header {
      border-color: @d-gray !important;
    }

    .back-btn {
      background: transparent !important;
    }

    .app-name {
      color: @d-white !important;
    }

    .top-icon {
      &.settings {
        color: @d-red !important;
      }
    }

    .main-container {
      border: solid 1px @d-gray;
    }

    .offline-container {
      background: @d-gray !important;

      .alert-message {
        color: @d-white !important;
      }
    }

    .profile-container {
      border-color: @d-gray !important;

      .photo {
        background: @d-gray !important;
      }

      .name,
      .email {
        color: @d-white !important;
      }
    }

    .box-menu-container {
      .box-item {
        background: @d-gray !important;
        box-shadow: @d-black -8px -3px 5px;
        color: @d-white !important;

        .text {
          color: @d-white !important;
        }

        &:hover {
          background: @d-red !important;
        }
      }
    }

    .code,
    input,
    select {
      background: @d-gray !important;
      color: @d-white !important;
    }

    .input-group-text {
      background: #232526;
      background: -webkit-linear-gradient(to right, #414345, #232526);
      background: linear-gradient(to right, #414345, #232526);
      color: @d-white !important;
    }
  }
}


@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}



