<!DOCTYPE html>
<html>
  <head>
    <title>DTools</title>
    <script src="../scripts/jquery.js"></script>
    <script src="../scripts/fa.js"></script>
    <script src="assets/scripts/country-codes.js"></script>
    <script src="../scripts/popup.js"></script>
    <link rel="stylesheet" href="../styles/custom.css" />
    <link rel="stylesheet" href="../styles/boostrap.css" />
  </head>
  <body>
    <section class="main-container">
      <div class="header">
        <img class="logo" src="../images/icon.png" />
        <span class="app-name" id="app-name"></span>
      </div>
      <div class="app-section" style="display: flex !important">
        <h4>Generate Account</h4>

        <div class="form-group">
          <label for="">Email</label>
          <input
            type="email"
            class="form-control"
            id="aa-email"
            placeholder="jane+doe@deriv.com"
            value=""
          />
        </div>
        <div class="form-group">
          <label for="">Broker Code</label>
          <select type="text" class="form-control" id="aa-broker-code">
            <option value="VRTC">VRTC</option>
            <option value="CR">CR</option>
            <option value="MF">MF</option>
            <option value="MLT">MLT</option>
            <option value="MX">MX</option>
          </select>
          />
        </div>

        <div class="form-group">
          <label for="">Country Code</label>
          <select type="text" class="form-control" id="aa-country-code">
          </select>
          />
        </div>

        <div class="form-group">
          <label for="link">Code</label>
          <div class="code-box">
            <textarea
              class="form-control code"
              id="add-account-code"
              readonly
            ></textarea>
          </div>

          <div class="footer-btn">
            <a id="cloud-9-link" href="#" target="_blank">Cloud 9</a>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
