body {
  min-width: 300px;
  height: auto;
  background: #f2f3f4 !important;
}
button.btn-primary {
  background: #ff444f !important;
  border-color: #ff444f !important;
}
button.btn-secondary {
  background: white !important;
  border-color: white !important;
  color: #373737 !important;
}
button.btn-gray {
  background: #373737 !important;
  border-color: #373737 !important;
  color: white !important;
}
.lds-ellipsis {
  margin-left: calc(50% - 12%);
}
h4 {
  font-size: 16px !important;
}
textarea {
  resize: none !important;
}
textarea.code {
  height: 20px !important;
  padding: 5px !important;
  font-size: 10px !important;
  white-space: nowrap !important;
  outline: none !important;
  border-radius: 0px !important;
  line-height: 8px !important;
}
textarea.code.big {
  height: 80px !important;
  white-space: pre-wrap !important;
  line-height: 13px !important;
  font-size: 9px !important;
}
textarea.code.mid {
  height: 50px !important;
  white-space: pre-wrap !important;
  line-height: 13px !important;
  font-size: 9px !important;
}
textarea.code.no-scroll {
  overflow: hidden;
}
label {
  margin-bottom: 2px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}
.main-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.main-wrapper .main-container {
  width: 100%;
  height: 100%;
  max-width: 300px;
}
.main-wrapper .main-container.app-id-generator {
  max-width: 400px;
  max-height: 390px;
}
.main-wrapper .main-container.market-controller {
  max-width: 450px;
  max-height: 230px;
}
.main-container {
  display: none;
  border: solid 1px #dddddd;
}
.main-container .header {
  display: flex;
  padding: 8px;
  border-bottom: solid 1px #dddddd;
  margin-bottom: 5px;
  align-items: center;
}
.main-container .header .logo {
  height: 30px;
  margin-right: 10px;
}
.main-container .header .app-name {
  font-weight: bold;
  font-size: 15px;
}
.main-container .header .top-icon-box {
  display: flex;
  margin-left: auto;
}
.main-container .header .top-icon-box .top-icon {
  cursor: pointer;
  margin: 0 5px;
}
.main-container .header .top-icon-box .top-icon.settings {
  color: #373737;
}
.main-container .header .top-icon-box .top-icon.changelog {
  color: #4bb4b3;
}
.main-container .app-section {
  display: none;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}
.main-container .app-section h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.main-container .app-section .back-btn {
  position: absolute;
  right: 7px;
  top: 13px;
  cursor: pointer;
  background: #f2f3f4;
  padding: 5px;
}
.main-container .app-section #aig-p2 {
  display: none;
}
.main-container .app-section .footer-btn {
  display: flex;
  justify-content: space-between;
}
.main-container .app-section .footer-btn button {
  width: fit-content;
}
.main-container .app-section#menu {
  display: flex;
}
.main-container .app-section#menu .box-menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-container .app-section#menu .box-menu-container .box-item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
  background: white;
}
.main-container .app-section#menu .box-menu-container .box-item:hover {
  background: #ff444f;
}
.main-container .app-section#menu .box-menu-container .box-item:hover .icon,
.main-container .app-section#menu .box-menu-container .box-item:hover .text {
  color: white;
}
.main-container .app-section#menu .box-menu-container .box-item .icon {
  margin-bottom: 5px;
}
.main-container .app-section#menu .box-menu-container .box-item .text {
  font-size: 12px;
  color: #373737;
  font-weight: bold;
  padding: 0px 10px;
  display: flex;
  text-align: center;
}
.main-container .app-section#menu .box-menu-container .box-item .new-item {
  background-color: #ff444f;
  color: #f2f3f4;
  text-transform: uppercase;
  position: absolute;
  top: -1px;
  left: -10px;
  font-weight: bold;
  font-size: 12px;
  transform: rotate(-21deg);
  padding: 0 5px;
  border-radius: 10px;
  animation: heartbeat 3s infinite;
}
.main-container .app-section#endpoint .dc-checkbox__input {
  margin-right: 5px;
}
.main-container .app-section.np {
  padding: 0px;
}
.main-container .app-section.np h4 {
  padding: 10px;
}
.main-container .app-section#cat-dog .pet-box {
  display: flex;
  justify-content: center;
}
.main-container .app-section#cat-dog .pet-box .pet-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin: 10px;
}
.main-container .app-section#cat-dog .pet-box .pet-item:hover {
  color: #ff444f;
}
.delete-icon {
  cursor: pointer;
}
.delete-icon:hover {
  background: red;
  color: white;
}
.profile-container {
  display: none;
  align-items: center;
  border-bottom: solid 1px #dddddd;
  padding: 10px;
}
.profile-container .photo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0 10px;
  padding: 2px;
  background: #eee;
}
.profile-container .details {
  display: flex;
  flex-direction: column;
}
.profile-container .details .name {
  font-weight: bold;
  color: #373737;
  font-size: 15px;
  margin-bottom: 2px;
}
.profile-container .details .email {
  font-size: 12px;
}
.body-container {
  height: auto;
}
[data-tooltip]:not([data-tooltip=""]) {
  position: relative;
}
[data-tooltip]:not([data-tooltip=""])::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  right: 0;
  top: calc(100%);
  border-radius: 3px;
  background-color: #ff444f;
  color: white;
  z-index: 10;
  padding: 1px 5px;
  width: fit-content;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
  height: fit-content;
  border-radius: 2px;
  font-size: 10px;
}
[data-tooltip]:not([data-tooltip=""]):hover::after {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 300ms;
}
#changelog-container h4 {
  margin-bottom: 3px;
}
#changelog-container .log-item {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #dddddd;
  margin: 0;
  padding: 10px;
}
#changelog-container .log-item .version {
  font-weight: bold;
  font-size: 13px;
  margin: 0 0 5px;
}
#changelog-container .log-item .desc {
  font-size: 12px;
}
#changelog-container .log-item .log-list .log-title {
  font-size: 12px;
  font-weight: bold;
}
#changelog-container .log-item .log-list ul li {
  font-size: 12px;
}
.small-input-group .input-group-text {
  height: 38px;
  min-width: 125px;
}
.small-input-group .input-group-text.md {
  min-width: 80px;
}
.small-input-group .input-group-text.sm {
  min-width: 50px;
}
.small-input-group .input-group-text.xs {
  min-width: 30px;
}
.small-input-group .custom-select {
  outline: none !important;
}
.small-input-group button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 38px;
  border: 1px solid #ced4da;
  border-left: none;
  outline: none !important;
}
.form-check-input {
  margin-top: 0.47rem !important;
}
.offline-container {
  display: flex;
  background: #d6dadb;
  padding: 10px;
  margin: -5px 0 2px;
  box-shadow: #abc 0 0 150px;
}
.offline-container .icon {
  color: #373737;
  font-size: 30px;
  margin-right: 12px;
  align-self: center;
}
.offline-container .alert-message {
  color: #373737;
  font-size: 11px;
  font-weight: normal;
}
.offline-container .alert-message strong {
  font-weight: bolder;
  color: #4bb4b3;
}
.note-msg {
  display: flex;
  padding: 5px;
  font-size: 10px;
  font-weight: 100;
}
.settings-form {
  display: flex;
  align-items: center;
}
.settings-form .toggle {
  margin-left: auto;
}
.toggle {
  cursor: pointer;
  display: inline-block;
}
.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #ff444f;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}
table th,
table td {
  padding: 5px;
  font-size: 10px;
}
table th select,
table td select {
  max-width: 120px;
}
table tbody {
  display: block;
  overflow: auto;
  overflow-x: hidden;
  max-height: 300px;
}
.info-box {
  padding: 10px;
  font-size: 12px;
}
.info-box strong {
  color: var(--red);
}
body.dark-theme {
  background: #151717 !important;
  background: -webkit-linear-gradient(to left, #373737, #151717) !important;
  background: linear-gradient(to left, #373737, #151717) !important;
  color: #f2f3f4 !important;
}
body.dark-theme .header {
  border-color: #373737 !important;
}
body.dark-theme .back-btn {
  background: transparent !important;
}
body.dark-theme .app-name {
  color: #f2f3f4 !important;
}
body.dark-theme .top-icon.settings {
  color: #ff444f !important;
}
body.dark-theme .main-container {
  border: solid 1px #373737;
}
body.dark-theme .offline-container {
  background: #373737 !important;
}
body.dark-theme .offline-container .alert-message {
  color: #f2f3f4 !important;
}
body.dark-theme .profile-container {
  border-color: #373737 !important;
}
body.dark-theme .profile-container .photo {
  background: #373737 !important;
}
body.dark-theme .profile-container .name,
body.dark-theme .profile-container .email {
  color: #f2f3f4 !important;
}
body.dark-theme .box-menu-container .box-item {
  background: #373737 !important;
  box-shadow: #151717 -8px -3px 5px;
  color: #f2f3f4 !important;
}
body.dark-theme .box-menu-container .box-item .text {
  color: #f2f3f4 !important;
}
body.dark-theme .box-menu-container .box-item:hover {
  background: #ff444f !important;
}
body.dark-theme .code,
body.dark-theme input,
body.dark-theme select {
  background: #373737 !important;
  color: #f2f3f4 !important;
}
body.dark-theme .input-group-text {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  color: #f2f3f4 !important;
}
@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}
