body {
  min-width: 300px;
  height: auto;
  background: #f2f3f4 !important;
}
button.btn-primary {
  background: #ff444f !important;
  border-color: #ff444f !important;
}
button.btn-secondary {
  background: white !important;
  border-color: white !important;
  color: #373737 !important;
}
.lds-ellipsis {
  margin-left: calc(50% - 12%);
}
h4 {
  font-size: 16px !important;
}
textarea {
  resize: none !important;
}
textarea.code {
  height: 20px !important;
  padding: 5px !important;
  font-size: 10px !important;
  white-space: nowrap !important;
  outline: none !important;
  border-radius: 0px !important;
  line-height: 8px !important;
}
textarea.code.big {
  height: 80px !important;
  white-space: pre-wrap !important;
  line-height: 13px !important;
  font-size: 9px !important;
}
textarea.code.no-scroll {
  overflow: hidden;
}
label {
  margin-bottom: 2px !important;
  font-size: 12px !important;
  font-weight: bold !important;
}
.main-container .header {
  display: flex;
  padding: 8px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 5px;
  align-items: center;
}
.main-container .header .logo {
  height: 30px;
  margin-right: 10px;
}
.main-container .header .app-name {
  font-weight: bold;
  font-size: 15px;
}
.main-container .header .update-icon {
  margin-left: auto;
  color: #4bb4b3;
  cursor: pointer;
}
.main-container .app-section {
  display: none;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
}
.main-container .app-section h4 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.main-container .app-section .back-btn {
  position: absolute;
  right: 7px;
  top: 13px;
  cursor: pointer;
  background: #f2f3f4;
  padding: 5px;
}
.main-container .app-section #aig-p2 {
  display: none;
}
.main-container .app-section .footer-btn {
  display: flex;
  justify-content: space-between;
}
.main-container .app-section .footer-btn button {
  width: fit-content;
}
.main-container .app-section#menu {
  display: flex;
}
.main-container .app-section#menu .box-menu-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main-container .app-section#menu .box-menu-container .box-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: none;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  margin: 6px;
  cursor: pointer;
  background: white;
}
.main-container .app-section#menu .box-menu-container .box-item:hover {
  background: #ff444f;
}
.main-container .app-section#menu .box-menu-container .box-item:hover .icon,
.main-container .app-section#menu .box-menu-container .box-item:hover .text {
  color: white;
}
.main-container .app-section#menu .box-menu-container .box-item .icon {
  margin-bottom: 5px;
}
.main-container .app-section#menu .box-menu-container .box-item .text {
  font-size: 12px;
  color: #373737;
  font-weight: bold;
  padding: 0px 10px;
  display: flex;
  text-align: center;
}
.main-container .app-section#endpoint .dc-checkbox__input {
  margin-right: 5px;
}
.main-container .app-section.np {
  padding: 0px;
}
.main-container .app-section.np h4 {
  padding: 10px;
}
.profile-container {
  display: none;
  align-items: center;
  border-bottom: solid 1px #ddd;
  padding: 10px;
}
.profile-container .photo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0 10px;
  padding: 2px;
  background: #eee;
}
.profile-container .details {
  display: flex;
  flex-direction: column;
}
.profile-container .details .name {
  font-weight: bold;
  color: #373737;
  font-size: 15px;
  margin-bottom: 2px;
}
.profile-container .details .email {
  font-size: 12px;
}
.body-container {
  overflow: auto;
  height: auto;
  max-height: 450px;
}
[data-tooltip]:not([data-tooltip=""]) {
  position: relative;
}
[data-tooltip]:not([data-tooltip=""])::after {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  content: attr(data-tooltip);
  right: 0;
  top: calc(100%);
  border-radius: 3px;
  background-color: #ff444f;
  color: white;
  z-index: 10;
  padding: 1px 5px;
  width: fit-content;
  transform: translateY(-20px);
  transition: all 150ms cubic-bezier(0.25, 0.8, 0.25, 1);
  height: fit-content;
  border-radius: 2px;
  font-size: 10px;
}
[data-tooltip]:not([data-tooltip=""]):hover::after {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 300ms;
}
#changelog-container h4 {
  margin-bottom: 3px;
}
#changelog-container .log-item {
  display: flex;
  flex-direction: column;
  border-top: solid 1px #ddd;
  margin: 0;
  padding: 10px;
}
#changelog-container .log-item .version {
  font-weight: bold;
  font-size: 13px;
  margin: 0 0 5px;
}
#changelog-container .log-item .desc {
  font-size: 12px;
}
#changelog-container .log-item .log-list .log-title {
  font-size: 12px;
  font-weight: bold;
}
#changelog-container .log-item .log-list ul li {
  font-size: 12px;
}
.small-input-group .input-group-text {
  height: 38px;
}
.small-input-group .custom-select {
  outline: none !important;
}
.small-input-group button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 38px;
  border: 1px solid #ced4da;
  border-left: none;
  outline: none !important;
}
